*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .landing{
    display: flex;
    min-height: 50vh;
    background-color: blue;
} */
.showcase{
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 100vh;
}
.toggle{
    /* position: sticky;
    top: 0; */
    width: 10%;
    height: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.toggles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.toggles div{
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px auto;
    
}
.contents{
    width: 90%;
}
.content{
    height: 100vh;
}